@import "tailwindcss";
@import "./variables.css";

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

a.btn-link {
  color: white !important;
}
a.btn-link:hover {
  color: var(--color-accent) !important;
  text-decoration: none;
}

/* General text links only */
main a,
footer a,
p a {
  color: var(--color-primary);
  text-decoration: none;
}

main a:hover,
footer a:hover,
p a:hover {
  color: var(--color-secondary);
}

/* Divider */
hr {
  border-color: var(--color-accent);
  opacity: 0.6;
}

/* Layout Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
